.maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100vw;
}
.content{
    width: 470px;
}
.content h1{
    font-family: Roboto;
}
.details-con{
    padding: 0px;
    width: 100%;
}
.c{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px;
}
.dropdown{
    border-style: none;
    border-width: 0px;
}
.filter-con{
    display: flex;
    align-items: center;
    align-items: center;
    gap: 25px;
    margin-left: 58px;
}
.re-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.filter-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    text-decoration: underline;
}